<?xml version="1.0"?>
<!-- 
/**
 * @category   Excellence
 * @package    Excellence_Ship
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Excellence_Ship>
            <version>0.1.0</version>
        </Excellence_Ship>
    </modules>
    <frontend>
        <routers>
            <ship>
                <use>standard</use>
                <args>
                    <module>Excellence_Ship</module>
                    <frontName>ship</frontName>
                </args>
            </ship>
        </routers>
        <layout>
            <updates>
                <ship>
                    <file>ship.xml</file>
                </ship>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ship>
				<use>admin</use>
				<args>
					<module>Excellence_Ship</module>
					<frontName>ship</frontName>
				</args>
			</ship>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<ship module="ship">
				<title>Ship</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="ship">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>ship/adminhtml_ship</action>
					</items>
				</children>
			</ship>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Excellence_Ship>
							<title>Ship Module</title>
							<sort_order>10</sort_order>
						</Excellence_Ship>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ship>
					<file>ship.xml</file>
				</ship>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ship>
                <class>Excellence_Ship_Model</class>
                <resourceModel>ship_mysql4</resourceModel>
            </ship>
            <ship_mysql4>
                <class>Excellence_Ship_Model_Mysql4</class>
                <entities>
                    <ship>
                        <table>ship</table>
                    </ship>
                </entities>
            </ship_mysql4>
        </models>
        <resources>
            <ship_setup>
                <setup>
                    <module>Excellence_Ship</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ship_setup>
            <ship_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ship_write>
            <ship_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ship_read>
        </resources>
        <blocks>
            <ship>
                <class>Excellence_Ship_Block</class>
            </ship>
        </blocks>
        <helpers>
            <ship>
                <class>Excellence_Ship_Helper</class>
            </ship>
        </helpers>
    </global>
    
    <default>
        <carriers>
          <excellence>
               <active>1</active>
               <model>ship/carrier_excellence</model>
               <title>Carrier Title</title>
               <name>Method Name</name>
               <price>5.00</price>
               <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </excellence>
         </carriers>
    </default>
    
    
    
</config>